body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    background-color: rgb(101, 161, 244);
}

.mulheres {
    background-color: rgb(178, 74, 143);
}

.anonimas {
    background-color: rgb(191, 115, 185);
}

.leitura {
    background-color:rgb(217, 149, 203);
}

.margin {
    padding-bottom: 25px;
    padding-top: 25px;
}